//.data{
//  max-width: 500px;
//}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  border:none;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
  .red {
    background-color: red;
  }

  .gray {
    background-color: gray;
  }

